body {
    margin: 20px;
}

#main {
    box-sizing: border-box;
    width: 400px;
    border: 1px solid black;
    padding: 15px;
    margin-top: 80px;
    margin-left: 50px;
    border-radius: 7px;
    box-shadow: -10px -10px 7px darkblue,
                14px 14px 7px darkgoldenrod;
    background-color: cornflowerblue;
}
/*border box takes up 3 values for the page and doesn't allow the width to be increased*/
p {
    box-sizing: border-box;
    width: 350px;
    border: 1px solid black;
    border-radius: 7px;
    padding: 15px 25px;
    /*15px top and bottom; 25px left and right*/
    /*margin: 75px 100px 40px 0;*/
    margin: 15px auto;
}
/*margin: auto means take up all of the available space; also centers to the parent element*/