nav, a{
	/*display: flex;*/
	margin: 10px;
	/*padding: 10px;*/
	/*justify-content: flex-end;*/
}
nav {
	justify-content: flex-end;
}

nav a {
	margin: 10px;
	/*padding: 10px;*/
}

nav, a:nth-of-type(4), nav a:nth-of-type(2) {
	margin-left: auto;
}

a {
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
}

div {
	border: 2px solid gold;
	border-radius: 7px;
	padding: 20px;
	height: 150px;
	justify-content: center;
	align-items: center;
}

div a {
	display: block;
	margin: auto;
	text-align: center;
	width: 150px;
}

section {
	display: flex;
	flex-direction: column;
	border: 2px solid darkgray;
	padding: 5px;
	width: 330px;
	margin: 10px;
}

main{
	display: flex;
	flex-wrap: wrap;
}

section p {
	flex-grow: 1;
}