* {
	box-sizing: border-box;
}


main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-bar {
	display: flex;
	background-color: lightslategrey;
	font-family: 'Work Sans', sans-serif;
}

div {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	/*justify-content: flex-start;*/
}

a {
	display: inline-block;
	padding: 0 2px;
	text-decoration: none;
}

a:hover {
	color: blue;
}

.logo {
	font-family: Montserrat, sans-serif;
	font-size: 3em;
	padding: .2em;
	margin: auto;
}

.icons {
	display: flex;
}



