.flexbox {
	border: 1px solid black;
	padding: 5px;
	display: flex;
	height: 900px;
	/*flex-direction: column-reverse;*/
	/*flex-wrap: wrap-reverse;*/
	flex-flow: row wrap;
	justify-content: flex-start;
	/*align-items controls the alignment of flex items along the cross axis*/
	align-items: flex-start;
	/*align-items: center;*/
	/*align-content is used to control how extra cross-axis space is distributed between and around flex lines. it applies only to containers with multiple flex lines*/
	align-content: space-around;
}

.flex-item {
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
}
.three {
	flex-grow: 2;
}

.four {
	flex-grow: 1;
}

.five {
	flex-grow: 1;
}
/*3 properties that allow you to control empty space*/
/*first one is called justify-content...applies to the flex container*/

/*.upsize {*/
/*	font-size: 150%;*/
/*}*/

/*.top-margin {*/
/*	margin-top: 30px;*/
/*}*/