* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: #cbffcd;
    font-family: Arial, Ubuntu, sans-serif;
}

form {
    /*<label for="username" class="form-label">Username</label><br>*/
    /*<input type="text" id="username" name="username" class="form-control"><br>*/
    /*<label for="password" class="form-label">Password</label><br>*/
    /*<input type="password" id="password" name="password" class="form-control"><br>*/
    padding: 1em;
    border: 1em;
    /* This form should be separated from other elements by 1em */
    /* There must be 1em between the content and the border of this element */
}

fieldset {
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    padding: 20px;
    border: 1em;
    background-color: white;
    /*margin: 1em;*/
    /* There must be 1em between the content and the border of this element */
    /* It should have no border */
    /* Its background should be white */
}

.width-80 {
    max-width: 80%;
    margin: 0 auto;
    /* The element with this class should be 80% of the width and it must be centered */
    /* Read how to center elements with margin here: http://learnlayout.com/margin-auto.html*/
}

.form-group {
    width: 100%;
    padding-bottom: .5px;
    padding-top: 5px;
    /* This element must use 100% of the width */
    /* It should have a separation of .5em from elements on top of it and below it*/
}

.form-label {
    font-weight: bold;
}

.btn-block {
    width: 100%;
    /* This element should use 100% of the width */
}

.btn {
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    color: white;
    border-style: solid lightgrey 1px;

    /* There must be a separation of 8px between the text and the border of this element */
    /* The text color of this element should be white and bold */
    /* The border of this element should be 1px, and its color should be light grey */
    background-color: #0fb784;
}

.form-control {
    padding:  4px;
    margin: .5em;
    max-width: 580px;
    border-color: black;
    width: calc(100% - 20px);
    /* There must be 4px on top of the text and below the text of an input with this class */
    /* It should have a separation of .5em from elements on top of it and below it */

    /* You'll need to use the `calc` function to make the width of this element match the width of the button */
    /* See the example at: https://developer.mozilla.org/en-US/docs/Web/CSS/calc */
    /* HINT: Examples are available at: https://glitch.com/~input-button-width */
    /*width: 100%;*/
}



