body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message {
    border: solid;
    border-width: thin;
    /*border-radius: 15px 50px 30px;*/
    /*border-radius: 15px;*/
    margin: 10px;
    width: 80%;
    padding: 5px;

}

.message-info {
    color: blue;
    background-color: cornflowerblue;
    }

.message-success {
    color: green;
    background-color: #69CE9BFF;
}

.message-warning {
    color: #9A9A3AFF;
    background-color: lightgoldenrodyellow;
}

.message-error {
    color: darkred;
    background-color: #F37272FF;
}