/*html {*/
/*	background-color: #212529;*/
/*}*/

* {
	font-family: 'Roboto', sans-serif;
}

html, body {
	height: auto;
	background-color: #212529 !important;
}

map{
	padding-bottom: 25px;
}

.navbar-brand {
	font-size: larger;
}

.weather-predictions {
	justify-content: space-evenly;
}



